// variables - storage points for values
$bgColor: teal;
$fontSize: 16px;
$myPadding: 5px;

// reset styles
@import "reset";

@mixin rounded($size) {
  border-radius: $size;
}

@mixin bgCol($col){
  background-color: $col;
}

html {
  font-size: $fontSize;
  background-color: white;
}

.wrapper {
  width: 90vw;
  padding: $myPadding;
  margin-inline: auto;
  background-color: #e5e5e5;
}

/*
    - variables
    - operations
    - nesting
    - partials
    - mixins

*/
// header styles
@import "header";

main {
  font-size: $fontSize + 5;
  min-height: 400px;
  //   padding:$myPadding;
  width: 100%;

  section {
    width: 100%;
    padding: $myPadding;
    h2 {
      text-align: center;
      margin: 10px;
      font-size: $fontSize * 2.5;
    }
  }

  //   hero sec
  section.hero {
 
    padding: 0;
    img {
      width: 100%;
      // height: 300px;
    }
  }

  // products
 @import "products";
}

footer {
  // background-color: $bgColor;
  @include bgCol(yellow);
  padding: $myPadding;
}
